# Ortam değişkenleri
.env
.env.*
!.env.example

# Bağımlılıklar
/vendor
/node_modules

# Laravel
/storage/*.key
/public/build
/public/hot
/public/storage
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep

# Frontend build
/dist
*.tsbuildinfo

# Araçlar
.phpunit.result.cache
/.idea
/.vscode
.DS_Store

*.log,
.phpactor.json
/.codex
/.cursor/
/.nova
/.phpunit.cache
/.zed
/auth.json
/public/fonts-manifest.dev.json
/storage/pail
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
